.woocommerce {
    ul.products {
        list-style-type: none;

        li.product {
            a img {
                @include hover-style;
                width: 100%;
                height: auto;
                object-fit: cover;
                border: 1px solid $dark;
                margin-bottom: 15px
            }

            .woocommerce-loop-product__title {
                @include h5-font-style;
                margin-bottom: 15px;
                letter-spacing: 0;
                padding: 0;
            }

            .price {
                @include h6-font-style;
                padding: 0;
                margin-bottom: 0;
                color: $dark;
            }
        }

        .woocommerce-LoopProduct-link {
            color: $body-color;
            text-decoration: none;
        }

        .price,
        .add_to_cart_button {
            padding: 15px;
        }

        .add_to_cart_button {
            @extend .btn;
            @extend .btn-success;
            width: fit-content;
            padding: 6px 12px;
        }
    }

    @include media-breakpoint-down(sm) {

        .woocommerce-result-count,
        .woocommerce-page .woocommerce-result-count,
        .woocommerce-ordering,
        .woocommerce-page .woocommerce-ordering {
            float: unset;
        }
    }
}