$space-side: 100px;
$space-side-mobile: 50px;
$space-side-mobile-sm: 30px;

.slider-block {
    padding-top: unset;

    &.width-container-fluid {
        padding-bottom: unset;

        .slick-list {
            min-height: calc(100vh - 50px);
        }
    }

    // Containers
    .container-fluid {

        &,
        &>.row>.col-12 {
            padding-left: 0;
            padding-right: 0
        }

        &>.row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Slides
    .slide-wrapper,
    .slide-content {
        position: relative;
    }

    .slide-content {
        color: $white;
        z-index: 2;
        max-width: 600px;
    }

    .slide-wrapper {
        @include bg-image;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        padding: 150px $space-side 195px;
        z-index: 0;
    }

    // Overlay
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 60%);
        z-index: 1;
    }

    // Post type badge
    .badge {
        margin-bottom: 30px;
    }

    // Title
    .slide-title {
        margin-bottom: 30px;
    }

    // Button
    .slide-link {
        margin-top: 20px;
    }

    // Controls
    .slick-arrow {
        @include bg-image-contain;
        @include transition;
        position: absolute;
        border: 0;
        background-color: unset;
        padding: 0;
        font-size: 0;
        width: 30px;
        height: 30px;
        bottom: 150px;
        z-index: 2;
    }

    .slick-next {
        background-image: url('images/icons/arrow-right.svg');
        left: calc($space-side + 45px);

        &:hover,
        &:focus {
            background-position: center right -5px;
        }
    }

    .slick-prev {
        background-image: url('images/icons/arrow-left.svg');
        left: $space-side;

        &:hover,
        &:focus {
            background-position: center left -5px;
        }
    }

    // Mobile
    @include media-breakpoint-down(lg) {
        .slide-wrapper {
            padding: 50px $space-side-mobile 80px;
        }

        .slick-arrow {
            bottom: 30px;
        }

        .slick-prev {
            left: $space-side-mobile;
        }

        .slick-next {
            left: calc($space-side-mobile + 45px);
        }
    }

    // Mobile sm
    @include media-breakpoint-down(sm) {

        .overlay {
            background: rgba(0, 0, 0, 0.5);
        }

        .slide-wrapper {
            padding: 50px $space-side-mobile-sm 80px;
        }

        .slick-arrow {
            bottom: 30px;
        }

        .slick-prev {
            left: $space-side-mobile-sm;
        }

        .slick-next {
            left: calc($space-side-mobile-sm + 45px);
        }
    }
}

body.admin-bar .slider-block.width-container-fluid .slick-list {
    min-height: calc(100vh - 82px);
}