.video-block {
    position: relative;

    .intro-content-wrapper,
    .block-btn-wrapper,
    .video-modal-button {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .video-modal-button {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: unset;
        padding: unset;
    }

    .video-thumbnail-play-icon {
        @include bg-image;
        width: 50px;
        height: 50px;
        background-image: url('images/icons/play.svg');
        position: absolute;
        border-radius: 50%;
    }

    .video-thumbnail-image {
        @include bg-image;
        aspect-ratio: 4/3;
        width: 100%;
        height: 100%;
    }

    // Modal
    .modal {
        .modal-dialog {
            width: 80%;
            max-width: 1000px;
            aspect-ratio: 16 / 9;
            margin-top: 100px;
        }

        .modal-content {
            width: 100%;
            height: 100%;
            background-color: unset;
            border: 0;
        }

        .modal-header {
            padding: 0;
            border: 0;
            height: 30px;
        }

        .btn-close {
            padding: 0;
            width: 30px;
            height: 30px;
            background-size: contain;
            opacity: 1;
        }

        .modal-body {
            padding: 0;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    // Desktop
    @include media-breakpoint-up(md) {
        .btn-close {
            position: fixed;
            top: 50px;
            right: 50px;
        }
    }

    // Mobile
    @include media-breakpoint-down(md) {
        .modal .modal-dialog {
            width: 90vw;
        }
    }

    @include media-breakpoint-down(sm) {
        .modal .modal-dialog {
            width: auto;
        }
    }
}